.course-view-main {
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 600px;
  overflow-y: auto;
}
.course-view-course-des {
  display: block;
  height: 90%;
  width: 60%;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
  float: left;
  padding-left: 30px;
}
.course-view-main .course-view-course-des p {
  margin-top: 10px;
  line-height: 25px;
}
.course-view-course-info {
  height: 120px;
  padding: 5px;
  width: 30%;
  height: 90%;
  margin: 5px;
  border-radius: 10px;
  float: right;
  align-content: left;
}
.course-view-course-info .course-img {
  width: auto;
  height: 200px;
  border-radius: 20px;
  padding-left: 10px;
}
.course-view-course-info .course-view-info {
  display: block;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  list-style: none;
  height: 200px;
}
.course-view-info .course-view-course-summary {
  margin-left: 50px;
  width: 100%;
  margin-top: 20px;
}
.course-view-course-info .course-view-info span {
  font-size: 20px;
}

.course-view-course-info .course-view-course-instructor {
  width: 100%;
  height: 100px;
  padding: 15px;
  justify-content: center;
}

.course-view-course-instructor .instructor-img {
  float: left;
  width: 75px;
  border-radius: 30px;
  margin-right: 20px;
}
.course-view-course-instructor .instructor-name {
  justify-content: start;
}

.bottomBar {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding-left: 75px;
}

.bottomBar .left {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  float: left;
  height: 40px;
}
/*.review {

}*/
.course-view-block .left a {
  background: #060a5f;
  border: none;
  font-weight: 600;
  text-decoration: none;
  padding:5px;
  float: right;
  margin: 5px;
  
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.course-view-content-list {
  /*padding: 5px;*/
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.course-view-content-title {
  padding-top: 5px;
  font-weight: 200;
  height: auto;
  width: 100%;
  display: flex;
}

.course-view-content-align {
  font-weight: 500;
  border-radius: 0px 8px 8px 8px;
  height: auto;
  display: flex;
  align-items: center;
}

.course-view-content-des {
  padding: 5px;
  justify-content: left;
  align-items: center;
  width: 90%;
  /*margin-right: 400px;
    display: flex;*/
}

.course-view-content-end-line{
  margin-top: 20px;
}
