.Courses {
  padding-top: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 560px;
}
.courseDescription {
  display: block;
  height: 90%;
  width: 60%;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px;
  float: left;
  padding-left: 30px;
}
.Courses .courseDescription .topic1,
.topic2,
.topic3 {
  width: 80%;
  height: 50px;
  margin: 20px;
  border-radius: 15px;
  list-style: none;
  align-content: center;
  justify-content: start;
}
.topic1 :hover ,.topic2 :hover,.topic3 :hover{

  background-color:#060a5f ;
  color: white;
  font-weight: bold;
}
.Courses .courseDescription .topic {
  width: 50px;
  float: left;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(16, 155, 11);
  border-radius: 15px;
}
.Courses .courseDescription .text {
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #060a5f;
  border-radius: 15px;
}
.courseDetails {
  height: 120px;
  padding: 5px;
  width: 30%;
  height: 90%;
  margin: 5px;
  border-radius: 10px;
  float: right;
}
.courseDetails .Img {
  width: 100%;
  height: 150px;
  border-radius: 20px;
}
.courseDetails .info {
  display: block;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  list-style: none;
  height: 200px;
}
.infomation {
  margin-left: 50px;
  width: 100%;
  margin-top: 20px;
}
.courseDetails .info span {
  font-size: 20px;
}

.courseDetails .owner {
  width: 100%;
  height: 100px;
  padding: 15px;
  justify-content: center;
}

.ownerImg {
  float: left;
  width: 75px;
  border-radius: 30px;
  margin-right: 25px;
}
.ownerDetails {
  margin-top: 15px;
  justify-content: start;
}

.bottomBar {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding-left: 75px;
}

.bottomBar .left {
  display: block;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  float: left;
  height: 50px;
}
.review {
}
.left a {
  background: #060a5f;
  border: none;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
  float: right;
  margin: 5px;

  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
