.cpd {
  width: 500px;
  height: 500px;
  border: 1px solid rgb(0, 0, 0);

    display: block;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .cpd h1 {
    justify-content: center;
  }
  