  .recentCPDRec{
    margin: 10px;
    /*padding: 15px;*/
    border: 2px solid rgb(6, 10, 95);
    border-radius: 15px 0px 0px 15px;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
    display: block;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
  }

  .titleRecent{
    padding-left: 15px;
  }


.recentRec {
  padding: 5px;
  width: 1000px;
}

  .recList{
    margin: 10px;
  }

  .recType{
    padding: 5px;
    border: 2px solid #7883e2;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    height: auto;
    width: 130px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
  }

.recAllign {
  background-image: linear-gradient(to right, #7883e2, #9ea5e2, #ffffff);
  font-weight: 500;
  border-radius: 0px 8px 8px 8px;
  height: 40px;
  width: inherit;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.recDes {
  padding: 5px;
  justify-content: left;
  align-items: center;
  /*margin-right: 400px;
    display: flex;*/
}
.recPending{
  color: white;
}

.recPending[data-status="Pending"]{
    margin-left: auto;
    padding: 5px;
    border-radius: 8px 8px 8px 8px;
    height: inherit;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 231, 11);
  }
  
.recPending[data-status="Approved"]{
    margin-left: auto;
    padding: 5px;
    border-radius: 8px 8px 8px 8px;
    height: inherit;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(3, 247, 15);
  }

.recPending[data-status="Rejected"]{
    margin-left: auto;
    padding: 5px;
    border-radius: 8px 8px 8px 8px;
    height: inherit;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 4, 4);
  }



