.titleJob {
  display: grid;
  width: auto;
  height: 720px;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 10fr 2fr;
  grid-template-rows: 0.15fr 0.75fr 0.2fr;
  grid-template-areas:
    "header1  header3"
    "main  main"
    "CV  CV";
}
.ViewJob {
  margin-left: auto;
  padding: 5px;
  border-radius: 8px 8px 8px 8px;
  height: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #060a5f;
  color: rgb(255, 255, 255);
}
.ViewJob a {
  background: #060a5f;
  border: none;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  float: right;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.header1 {
  padding-left: 10%;
  display: grid;
  margin-top: 7%;
  grid-area: header1;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b c d";
}

.header3 {
  display: grid;
  padding-left: 10%;
  margin-top: 15%;
  grid-area: header3;
}
.sort {
  border-radius: 10px;

  padding: 2%;
  background: #060a5f;
  color: white;
  padding-left: 1%;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  grid-area: d;
}
.filter1 {
  grid-area: a;
  padding-left: 3%;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}
.filter2 {
  grid-area: b;
  border-radius: 10px;

  padding-left: 3%;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
}
.filter3 {
  grid-area: c;
  border-radius: 10px;

  padding-left: 3%;
  width: 90%;
  font-size: 20px;
  font-weight: 500;
}
.CV {
  height: auto;
  width: 95%;
  float: left;
  grid-area: CV;
}
.title h1 {
  margin-top: 150px;
  justify-content: center;
  margin-right: 10%;
  margin-left: 1%;
}
.JOB .recentCPDRec {
  height: 600px;
  margin-right: 1%;
  margin-left: 1%;
}
.jobview {
  margin-left: 2%;
  overflow-y: scroll;
  grid-area: main;
}
.jobAllign {
  background-image: linear-gradient(to right, #7883e2, #9ea5e2, #ffffff);
  font-weight: 600;
  border-radius: 8px 8px 8px 8px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
}
.jobAllign .job {
  padding-left: 2%;
}
.cvCreate a {
  background: #060a5f;
  border: none;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  float: right;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
