.course-basic-info-main{
    height: max-content;
}

.course-basic-info{
    height: 600px;
    padding-top: 65px;
}

.course-basic-info-form{
    height: 500px;
    overflow-y: scroll;
}

.course-basic-info-title{
    padding: 10px;
    text-align: center;
}

.course-basic-info-form .course-basic-info-block{
    margin: 20px;
    margin-left: 25%;
    width: 60%;
}

.course-info-title{
    margin-bottom: 20px;
    font-size: 20px;
    width: 250px;
    font-weight: 200;
}

.course-field-block{
    padding-bottom: 20px;
}

.course-basic-info-block select , .course-basic-info-block .input{
    margin-bottom: 15px;
    margin-left: 40px;
    width: 70%;
    height: 30px;
    font-size: 20px;
    padding-left: 20px;
    color: black;
    
  }

.course-info-title textarea {
    margin-bottom: 15px;
    margin-left: 20px;
    width: 70%;
    height: 150px;
    font-size: 14px;
    padding-left: 10px;
    color: black;
    overflow-y: scroll;
}


  .course-basic-info-form .course-btn-block{
    margin: 20px;
    margin-left: 10%;
    width: 60%;
  }

  .course-btn-submit{
    background: #060a5f;
    border: none;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    float: right;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

