.lecturer-course-view {
  height: 600px;
  padding-top: 60px;
}

.lecturer-course-view-top {
  align-items: center;
  padding: 10px;
}

.lecturer-course-view-content-list {
  height: 92%;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  align-items: center;
  overflow-y: auto;
  top: 28%;
  position: absolute;
}

.lcv-content-edit-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.lcv-content-edit-btn {
  background: #d4c818;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.lcv-content-exam-btn {
  text-decoration: none;
}

.lcv-content-exam-btn a {
  background: #3cff00;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.lecturer-course-view-title {
  top: 5%;
  position: relative;
  text-align: center;
}

.lec-course-view-content {
  padding: 5px;
}

.lec-course-view-content-title {
  padding: 5px;
  border: 2px solid #7883e2;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  width: 130px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.lec-course-view-content-align {
  background-image: linear-gradient(to right, #7883e2, #9ea5e2, #ffffff);
  font-weight: 500;
  border-radius: 0px 8px 8px 8px;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.lec-course-view-content-des {
  padding: 5px;
  justify-content: left;
  align-items: center;
  width: 90%;
  /*margin-right: 400px;
    display: flex;*/
}

.lec-course-view-content-btn {
  margin-left: auto;
  padding: 5px;
  border-radius: 8px 8px 8px 8px;
  height: inherit;
  width: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.lecturer-course-view-content-list .lecturer-course-view-block {
  margin: 20px;
  margin-left: 25%;
  width: 60%;
}

.course-info-title {
  margin-bottom: 20px;
  font-size: 20px;
  width: 250px;
  font-weight: 200;
}

.course-field-block {
  padding-bottom: 20px;
}

.lecturer-course-view-block select,
.lecturer-course-view-block .input {
  margin-bottom: 15px;
  margin-left: 40px;
  width: 70%;
  height: 30px;
  font-size: 20px;
  padding-left: 20px;
  color: black;
}

.course-info-title textarea {
  margin-bottom: 15px;
  margin-left: 20px;
  width: 70%;
  height: 150px;
  font-size: 14px;
  padding-left: 10px;
  color: black;
  overflow-y: scroll;
}

.lecturer-course-view-content-list .course-btn-block {
  margin: 20px;
  margin-left: 10%;
  width: 60%;
}

.lcv-redirect-btn,
.lcv-content-add-btn,
.lcv-course-edit-btn {
  text-decoration: none;
}

.lcv-course-edit-btn a {
  top: 2%;
  left: 67%;
  position: relative;
  background: #d4c818;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  padding: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.lcv-course-approve-btn,
.lcv-course-del-btn:hover {
  cursor: pointer;
}

.lcv-course-del-btn {
  top: 2%;
  left: 69%;
  position: relative;
  background: #ee2727;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.lcv-course-approve-btn {
  top: 2%;
  left: 65%;
  position: relative;
  background: #2eee27;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.lcv-content-add-btn a {
  top: 22%;
  left: 11%;
  position: absolute;
  background: #1628d1;
  text-decoration: none;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  padding: 8px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
}

.lcv-redirect-btn a {
  top: 15.4%;
  left: 3%;
  position: absolute;
  background: #0cbe38;
  text-decoration: none;
  border: none;
  border-radius: 5%;
  font-weight: 600;
  padding: 8px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}
