html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#wrap {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 0;
    background: #fff;
    visibility: visible;
    clear: both;
    overflow: hidden;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 1281px) {
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 961px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
}

.blog-single-post p,
.blog-post div,
.blog-single-post div,
.blog-single-post .post img,
.blog-single-post p img,
.row-wrapper-x div.wp-caption,
.row-wrapper-x p,
.row-wrapper-x img {
    max-width: 100%;
}

#headline,
#headline2 {
    width: 100%;
    padding: 12px 0 16px;
    display: table;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 1281px) {
    .container {
        width: 1246px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 1281px) {
    #wrap .container {
        width: 1246px;
    }
}

#headline h3,
#headline h2 {
    text-align: center;
    color: #101010;
    font-size: 33px;
    line-height: 1.1;
    margin: 20px 12px 16px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

#main-content.container {
    padding-top: 35px;
}

@media only screen and (min-width: 1200px) {
    .row-wrapper-x {
        padding: 0 15px;
    }
}

@media (min-width: 961px) {
    .col-md-10 {
        width: 83.33333333333334%;
    }
}

@media (min-width: 961px) {
    .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }
}

form {
    margin-bottom: 20px;
}

p {
    margin: 0 0 20px 0;
    color: #616161;
    font-size: 14px;
    line-height: 1.8;
}

element.style {
    font-size: 16px;
    font-weight: 700;
}

.req {
    color: red;
}

.note {
    font-size: 16px;
    font-weight: 1000;
    font-size: 13px;
    margin-bottom: 0;
    color: #aaa;
    padding-left: 0px;
    border-bottom: 2px solid #aaa;
}

.pippin_form label {
    display: block;
    float: left;
    color: #aaa;
}

.control-label {
    color: #616161;
}

body {
    background-color: #f4f7f8;
    font: 14px/25px sans-serif;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #626262;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

.col-xs-12 {
    width: 100%;
}

select {
    padding: 8px;
    outline: 0 none;
    width: 220px!important;
}

.pippin_form select {
    padding: 4px 8px;
    background: #fcfcfc;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    border-radius: 1px;
    color: #888;
    min-width: 60px;
    max-width: 100%;
    min-height: 36px;
    display: block;
    box-sizing: border-box;
}

option {
    font-weight: normal!important;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

@media only screen and (min-width: 1281px) {
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.label-note {
    font-size: 13px;
    font-weight: 500;
    color: #999;
    margin-left: 10px;
}

.error {
    color: red;
    font-size: .9rem;
}

.space {
    margin-top: 20px!important;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

hr {
    border: solid #e5e5e5;
    border-width: 1px 0 0;
    clear: both;
    margin: 14px 0 35px;
    height: 0;
    width: auto;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.container hr {
    margin-right: 10px;
    margin-left: 10px;
}

.btn {
    margin-left: 15px;
}