.profileMain {
  display: grid;
  width: auto;
  height: 668px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "profileLeft  paymentsRightTop"
    "profileLeft  paymentsRightBottem";
}
.countPay {
  font-size: 80px;
  size: 15px;
margin-left: 150px;
}
.paymentsRightTop {
  margin-top: 12%;

  grid-area: paymentsRightTop;
  border: 1px solid black;
}
.profileLeft {
  grid-area: profileLeft;
  display: grid;
  margin-top: 10%;
  height: 588px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "myImage  fullName"
    "myImage  myemail"
    "myContact  myContact"
    "myBirthDay  myBirthDay"
    "myNic  myNic"
    "myAddress  myAddress"
    "updateButn  updateButn";
}

.update {
  background: #060a5f;
  border: none;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.myImage {
  grid-area: myImage;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 80px;
}
.updateButn {
  grid-area: updateButn;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 80px;
}
.mypIC {
  width: 80%;
  border-radius: 30px;
}
.fullName {
  grid-area: fullName;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myemail {
  grid-area: myemail;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.myContact {
  grid-area: myContact;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 60px;
}
.myAddress {
  grid-area: myAddress;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.myNic {
  grid-area: myNic;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.myBirthDay {
  grid-area: myBirthDay;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentsRightBottem {
  border: 1px solid black;
  grid-area: paymentsRightBottem;
padding-right: 15px;  
  
}
.tpc {
  width: 100%;
  margin-top: 10px;
  margin-left: 150px;
  font-size: 30px;
}