.main {
  overflow-y: auto;
  display: block;
  width: auto;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;
}
.bar {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.bar {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 0, 49);
}

.row1 {
  display: block;
}
.row1 .a {
  width: 45%;
  float: left;
}
.row1 .b {
  border: rgb(112, 93, 97);
  width: 45%;
  float: right;
}

.progress {
  margin: 10px;
  padding: 5px;
  border: 2px solid rgb(6, 10, 95);
  border-radius: 15px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  grid-area: progress;
  padding: 5px;
  background-color: rgb(255, 255, 255);
}
.progressBar {
  display: block;
  width: 60%;
  justify-content: center;
  border-radius: 15px;
  overflow: visible;
  
  border: 1px solid rgb(6, 10, 95);
  float: top;
}
.progressColour {
  height: 10px;
  width: 75%;
  background-color: rgb(6, 10, 95);
  border-radius: 15px;
  animation: animate-positive 2s;
}
.progressValue {
  width: 65px;
  height: 25px;
  font-size: 20px;
  font-weight: 1000;
  color: rgb(6, 10, 95);
  align-content: center;
  border-radius: 15px;
  border-top: 0px;
  position: absolute;
  bottom: -5px;
  right: -70px;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
.Charts {
  margin: 10px;
  display: block;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.chart1 {
  padding: 5px;
  display: flex;
  width: 49.5%;
  height: 100%;
  float: left;
  border: 2px solid rgb(6, 10, 95);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  grid-area: chart1;
}

.chart2 {
  border-radius: 15px;
  padding: 5px;

  display: flex;
  height: 100%;
  width: 49.5%;
  float: right;
  border: 2px solid rgb(6, 10, 95);
  background-color: rgb(255, 255, 255);
  grid-area: chart1;
}
.OnGoing {
  margin: 10px;
  display: block;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  border: 2px solid rgb(6, 10, 95);
  background-color: rgb(255, 255, 255);
}
.ONG {
  padding: 5px;
  display: flex;
  height: 250px;
}
@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.4fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "progress"
      "chart1"
      "chart2"
      "ongoing";
  }
}
